@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Girassol&display=swap');
body {
    font-family:"Poppins", serif;
    font-size:1rem;
    font-style:normal;
    font-weight: normal;
    background-color: rgb(255, 255, 255); 
}

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

/* navigation bar */


li{
    display: flex;
    float: right;
    text-align: right;
    background: #fee0e0;
    list-style-type: none;
    padding: 0;
    margin: 0;
    border-right: 2px solid #d988a3;

}

li:first-child{
    border-right: none;
}
li:last-child{
    border-left: 2px solid #d988a3;
}

a {
    display: block;
    padding: 8px;
}

ul{
  background-color: #fee0e0;
  position: fixed;
  top: 0;
  width: 100%;
}


a{
    
    color: #d87093;
}

a:hover{
    color: rgb(255, 255, 255);
    
}

a:visited{
    color: rgb(166, 120, 239);
}

.container > .title{
    
    text-align: center;
    font-size: 1rem;
    margin-top: 145px;
    color: #000000;
    text-decoration: underline;
}

.description p{
    text-align: center;
    margin-top: 5px;
    font-size: 20px;
    padding: 1rem;

}

.pageEnd p{ 

    white-space: nowrap;
    font-size: 20px;
    padding: 1rem;
}
.pageEnd h2{
    margin-top: 5px;
    font-size: 23px;
    padding: 1rem;
    text-decoration: underline;
}

.pageEnd {
    margin-top: 50px;
    background-color: #fee0e0;
    width: auto
}








/* Coffee Options */

.coffeeOptions{
    display: grid;

    grid-template-rows: repeat (5, 1fr);
    max-width: 1000px;
    min-height: 300px;
    margin-inline: auto;
    margin-top: 40px;
    justify-content:left; /* horitzontal box arrangement - options: space-between,
    space-around, flex-start, flex-end*/

    row-gap: 20px;
}

.coffeeOptions > .boxA{
    grid-row: 1;
    grid-column: 1;
    overflow: auto;
    
}

.coffeeOptions > .boxA > .text1{
    
    font-size: 19px;
    margin-right: 340px;
    float: right;
}


.coffeeOptions > .boxB{
    grid-row: 2;
    grid-column: 1;
    overflow: auto;
    
}
.coffeeOptions > .boxB > .text2{
    
    font-size: 19px;
    margin-right: 400px;
    float: right;
    
}

.coffeeOptions > .boxC{
   
    grid-row: 3;
    grid-column: 1;
    margin-top: 20px;
    overflow: auto;
    
}
.coffeeOptions > .boxC > .text3{
    
    font-size: 19px;
    margin-right: 470px;
    float: right;
    
}

.coffeeOptions > .boxD{
   
    grid-row: 4;
    grid-column: 1;
    margin-top: 20px;
    overflow: auto;
    
}

.coffeeOptions > .boxD > .text4{
    
    font-size: 19px;
    margin-right: 320px;
    float: right;
    
    
}

.coffeeOptions > .boxE{
   
    grid-row: 5;
    grid-column: 1;
    margin-top: 20px;
    overflow: auto;
    
}

.coffeeOptions > .boxE > .text5{
    
    font-size: 19px;
    margin-right: 380px;
    float: right;
    
}