*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:'Courier New', Courier, monospace;
    padding: 20px;
}

.head{
    display:block;
    text-align:center;
    font-weight: bold;
    font-size:xx-large;
}

.container{
    display: grid;

    grid-template-columns: repeat (3, 1fr);
    
    max-width: 1000px;
    min-height: 400px;
    margin-inline: auto;
    border: 1px solid #204060;
    justify-content:space-evenly; /* horitzontal box arrangement - options: space-between,
    space-around, flex-start, flex-end*/

    row-gap: 20px;

    

}

.box{
    display:grid;
    
    
    /* width: 200px; */
    /* height: 200px; */

    margin: 10px;
    /*background-color: darkgreen;*/
    color:lightgrey;
    /*border: 1px solid black;*/
    font-size: 2rem;
    /* padding: 0.5rem; */
    justify-content: space-evenly;
    align-items: center;

    
    
}

.a{
    
    grid-row: 1;
    grid-column: 1 / 2;
}

.b{
    
    grid-row: 1 / 2;
    grid-column: 3;
}

.c{
    
    grid-row: 2;
    grid-column: 1;
}

.d{
    
    grid-row: 2;
    grid-column: 2;
}

img{

    border: solid blue;

}

.full-size{
    max-width: 800px;
    min-height: 600px;
    margin-top: 20px;
    margin-inline: auto;
    border: 1px solid #204060;
    justify-content:space-evenly;
    align-items:center;
}